{% extends "base.html.twig" %}
{# templates/home/index.html.twig #}


{% block body %}

    <h1>Welcome to the Home Page</h1>

    {# Example of filter links #}
    <a href="{{ path('app_home', {'marque': 'marque'}) }}">Filtre par Marque</a>
    <a href="{{ path('app_home', {'categorie': 'categorie'}) }}">Filtre par Catégorie</a>

    {% if products is not empty %}  
        <ul>
            {% for product in products %}
                <li>
                    <h2>{{ product.getNomProduit() }}</h2>
                    <img src="{{ product.getImgProduit() }}" alt="{{ product.getNomProduit() }}">
                    <p>{{ product.getDescription() }}</p>
                    
                    {# Check if id_cat is not null before accessing properties #}
                    {% if product.getIdCat() is not null %}
                        <p>Category: {{ product.getIdCat().getNomCat() }}</p>
                    {% endif %}
                    
                    {# Check if id_marque is not null before accessing properties #}
                    {% if product.getIdMarque() is not null %}
                        <p>Marque: {{ product.getIdMarque().getNomMarque() }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products available.</p>
    {% endif %}
{% endblock %}
